* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    color: #ffffff;
    font-family: "Neue Montreal", sans-serif;
    height: 100vh;
    background: #ffffff;
  }
  
  /* Navbar */
  

  .nav-sep {
    height: 100%;
    width: 2px;
    background: #fff;
  }
  
  .navbar {
    position: fixed;
    top: 1em;
    width: 50%;
    height: 55px;
    padding: 0 1em;
    color: var(--color-text-primary);
    z-index: 100000;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    backdrop-filter: blur(30px) saturate(120%) !important;
    -webkit-backdrop-filter: blur(30px) saturate(120%) !important;
    border: 1px solid var(--color-border);
    z-index: -1;
    border-radius: 2em;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 1200px;
    padding: 0 !important;
  }
  
  .hamburger-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    line-height: 55px;
  }
  
  .hamburger-icon i {
    position: relative;
    top: 1.25px;
  }
  
  #hamburger-toggle {
    display: none;
  }
  
  .navbar-logo {
    font-size: 17px;
    font-weight: 600;
  }
  
  .navbar-logo i {
    position: relative;
    font-size: 30px;
    top: 2px;
  }
  
  .navbar-items ul {
    display: flex;
    gap: 0.25em;
    list-style: none;
  }
  
  .navbar-items ul li {
    line-height: 55px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .navbar-items ul li a {
    padding: 1em;
    cursor: pointer;
  }
  
  .navbar-items .btn {
    line-height: 55px;
    margin-left: 1em;
  }
  
  .navbar-items .btn a {
    padding: 10px 20px !important;
    background: var(--color-brand-bg);
    border-radius: 40px;
  }
  
  @media screen and (max-width: 1000px) {
    .navbar {
      width: 100%;
      top: 0;
      border-radius: 0;
    }
  
    .navbar:before {
      border-radius: 0;
    }
    .navbar-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
      height: calc(100vh - 51px);
      padding-top: 55px;
      top: 55px;
      left: 100%;
      border-top: 1px solid var(--color-border);
      background: rgba(0, 2, 18, 0.35);
      backdrop-filter: blur(30px) saturate(120%) !important;
      -webkit-backdrop-filter: blur(30px) saturate(120%) !important;
      text-align: center;
      transition: all 0.5s;
      z-index: 10000;
    }
  
    .navbar .container {
      justify-content: space-between;
    }
  
    .hamburger-icon {
      display: block;
    }
  
    #hamburger-toggle:checked ~ ul {
      left: 0%;
    }
  
    .navbar .container {
      padding: 0;
    }
  
    .navbar-items .btn {
      line-height: 55px;
      margin-left: 0px;
      margin-top: 30px;
    }
  }
  









  .wrapper {
    width: 100%;
    height: 100vh;
  }
  

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  
  nav > div {
    flex: 1;
  }
  
  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  
  .shop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
  }
  
  .nav_container{
    margin-left: 6rem;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row;
    
  }
  
  a {
    text-decoration: none;
    color: #0f0f0f;
  }
  
  .footer {
    position: sticky;
  
    bottom: 0;
    padding: 4em 2em;
    color: #5f5f5f;
  }
  
  .transition {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #000000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  
  .container {
    padding: 1rem;
    overflow: hidden;  
  }
  
  
/* Hero */


.v_container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* opacity: 0; */
}


.left-side{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
  gap: 5rem;
}

.tv{
  font-family: w;
  display: flex;
  text-transform: capitalize;
}

.bottom{
  transform: translateY(70px);
}



.text-container{
  max-width: 260px;
}

.text-container p{
  padding-bottom: 1rem;
  line-height: 1.4;
  opacity: .8;
}


.fa-arrow-right-long{
  transform: translateX(20px);
}

.bg{
  font-size: 100px;
}

.sm{
  font-size: 35px;
  height: 40px;
}


/* Scribble */
.preview-container {
  width: 100%; /* Set width as per your requirement */
  height: auto; /* Set height as per your requirement */
  background-color: #f0f0f0; /* Example background color */
  margin-top: 10px; /* Adjust margin as needed */
  overflow: auto; /* Enable scroll if content overflows */
}


  .title{
    position: relative;
    line-height: 1;
    font-size: 120px;
    font-weight: 400;
    color: #000000;
    top: 120px;
    width: auto;
  }
  
  
  .hero {
    bottom: 0;
    left: 0;
    margin: 1rem 0;
    padding: 2em 2.5em;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: #999E9F;
    border: solid 1px black;
  }

  .hero h1{
    position: relativee;
    top: 100;
    left: 0;
    margin: 1rem;
  }
  .about {
    padding: 2em 2.5em;
    display:flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: solid 1px black;
  
  }
  .canvas-container {
    width: 400px; /* Set width as per your requirement */
    height: 600px; /* Set height as per your requirement */
    background-color: #ccc; /* Example background color */
    margin-left: auto; /* Pushes the canvas-container to the right */
    margin-top: 1px; /* Adjust margin as needed */
    border: #000 2px solid;
    display: flex;
  }




  .containercanvas {
    display: flex;
    margin-left: auto; /* This will push the .containercanvas div to the right */
    border: #000 1px solid;
    justify-content: right;
    align-items: center;
    height: 100%;
    }
    


  .projects {
    margin: 1rem 0;
    padding: 2em 2.5em;
  
    display:flex;
    position: relative;
    flex-direction: column;
  
    width: 100%;
    height: auto;
    border: solid 1px black;
  
  }
  
  .research {
    overflow: hidden;
    padding: 2rem;
    margin: 1rem 0;
    display:flex;
    position: relative;
    width: 100%;
    flex-direction: column;
  
    height: 100vh;
    border: solid 1px black;
  
  }
  
  .certificates {
    padding: 2em 2.5em;
  
    display:flex;
    position: relative;
    flex-direction: column;
  
    width: 100%;
    height: auto;
    border: solid 1px black;
  
  }
  
  .scrible {
  
    display:flex;
    position: relative;
    flex-direction: column;
  
    width: 100%;
    height: auto;
    border: solid 1px black;
  
  }
  
  .about p,
  .projects p,
  .research p,
  .certificates p,
  .scrible p{
    width: 50%;
    color: #000000;
    line-height: 22px;
  }
  
  
  
  .header-revealer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .header-revealer:after {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: auto;
    background: #ffffff;
  }
  
  
  .roundedButton {
    margin-top: 2rem;

    width: 200px;
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }
  
  .roundedButton p {
    position: relative;
    z-index: 1;
    transition: color 0.4s linear;
  
  }
  .roundedButton:hover {
    background:"#455CE9";
  }
  .roundedButton:hover p {
    color: white;
  }
  
  .circle {
    width: auto;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
  }
  
  
  
  
  .article-text{
    margin: 1rem;
  }
  
  

  .magnetic-button {
    padding: 4px 7px;
    margin: 1rem 0 0 2rem ;
    color: #000000;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.magnetic-button:hover {
    transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -o-transform: translate(-5%, -5%);
}




/* Research  */

.recontainer {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
}




.items {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  padding: 1rem 0.5em;
  cursor: pointer;
}

.item-index {
  flex: 1;
}

.item-name {
  flex: 3;
  line-height: 2rem;
}

.item-year {
  flex: 1;
}

.overlay {
  position: absolute;
  bottom: -1200px;
  right: 0;
  width: 50%;
  height: 700px;
  padding: 2em;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  will-change: top;
  transform: translateZ(0) rotate(20deg);
  transform-origin: bottom center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2em 0;
}

.col:nth-child(1) {
  flex: 3;
}

.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.4;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 4em 0;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(2) {
  flex: 2;
}

@media (max-width: 900px) {
  .items {
    width: 100%;
  }

  .overlay {
    width: 100%;
    height: 100vh;
  }
}



/* Projects */


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.projectfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  z-index: 2;
}

.procontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 2rem 0;
  overflow: hidden;
  background: #87947D;
}

.slider {
  
  position: absolute;
  top: 15vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 200px;
  perspective-origin: 50% 100%;
}

.card {
  position: absolute;
  top: 50%;
  cursor: pointer;

  left: 50%;
  width: 50%;
  height: 500px;
  border-radius: 10px;
  transform: translate3d(-50%, -50%, 0px);
  overflow: hidden;
  background: #000;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.copy {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.proclass {
  position: relative;
  text-align: center;
  font-family: "PP Editorial Old";
  font-size: 6vw;
  font-weight: 300;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #dfe1c8;
}

.proclass h1 span {
  position: relative;
  display: inline-block;
}

@media (max-width: 900px) {
  .pages {
    display: none;
  }
}





/* Sidebar in Hero for nav */

.overlay-toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 60px;
  margin: 0.75em;
  padding: 1em;
  border-radius: 0.5em;
  background: #fff;
align-items: center;  color: #000;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.herosidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  overflow: hidden;
  pointer-events: none;
}

.herocard {
  position: relative;
  right: -110%;
  padding: 1em;
  flex: 1;
  background: #fff;
  color: #000;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.herocard:nth-child(1) .card-title {
  display: flex;
  justify-content: space-between;
}

.heroclose-btn {
  position: relative;
  font-size: 60px;
  transform: scale(0);
  transition: transform 0.3s;
  transform-origin: center;
}

.herocard:nth-child(1):hover .close-btn {
  transform: scale(1);
}

.herocard-title {
  font-size: 50px;
  letter-spacing: -0.035em;
}

.herocard-copy {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  font-size: 15px;
  transition: transform 0.3s, opacity 0.3s;
}

.herocard:hover {
  background: #020B44;
  color: #fff;
}

.herocard:hover .herocard-copy {
  opacity: 1;
  transform: translateY(0px);
}

@media(max-width: 900px) {
  .hero {
      top: 25%;
      width: 100%;
  }

  .herosidebar {
      width: 100vw;
  }
}

/* Certificates */





/* scrible */

.certheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

 .certheader h1 {
  font-family: "Circular Std", sans-serif;
  font-size: 12vw;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 175%;
  color: #fff;
  text-align: center;
} 

.certitem {
  position: absolute;
  padding: 0.5em 0.5em 4em 0.5em;
  width: 200px;
  height: 225px;
  margin: 4rem;
  overflow: hidden;
  background: #fff;
}

.certitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}


.certcanvas_container {
  width: 400px; /* Set width as per your requirement */
  height: 400px; /* Set height as per your requirement */
  background-color: #760101; /* Example background color */
  margin-top: 1px; /* Adjust margin as needed */
  border: #000 2px solid;
  display: flex;
  overflow: hidden;
}




.certcontainercanvas {
  display: flex;
  width: 1200px;
  overflow: hidden;
  height: 800px;
  border: #a92828 1px solid;
  justify-content: center;
  align-items: center;
  }